Package: com.minazuki.hidencappname
Name: HideNCAppName
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide the app name in the notification.
Depiction: https://minazukidev.github.io/html/HideNCAppName/index.html
Maintainer: Minazuki <minazukidev@gmail.com>
Author: Minazuki <minazukidev@gmail.com>
Section: Tweaks
